* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Abril Fatface', cursive;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #FFFFFF;
    color: #1d1d1e;
    font-family: 'Abril Fatface', cursive;
}

    body .bg-image {
        background-image: url('../images/section1.gif');
        background-size: cover;
        background-position: center;
        height: 45rem;
        width: 100%;
        opacity: 1;
    }

a {
    text-decoration: none;
    color: #1d1d1e;
}
a h2:hover{
    transform: scale(1.05);
}

p {
    font-family: 'Lato', sans-serif;
}

header {
    height: 7rem;
}

section {
    margin: 1.6rem 0 0.8rem 0;
}

.section-header {
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    text-align: center;
    color: #1d1d1e;
}

.section1 {
    background-image: url('../images/section1.gif');
    background-size: cover;
    background-position: center;
    height: 45rem;
    width: 100%;
    opacity: 0.4;
}

.section2 {
    width: 100%;
    margin: auto;
    margin-bottom: 1.6rem;
    display: inline-block;
    text-align: center;
}

.black {
    background-color: #E8E8E8;
    
}

.section2 .card {
    width: 17rem;
    margin-bottom: 0.8rem;
    display: inline-block;
}

@media (min-width: 576px) {
    .body {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .body {
        max-width: 720px;
    }
    .mobile-only {
        display: none; /* Mobil görünümleri gizle */
    }
}
@media (max-width: 767px) {
    .desktop-only {
        display: none; /* Masaüstü görünümlerini gizle */
    }
}

@media (min-width: 992px) {
    .body {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .body {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .body {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {
    .body {
        max-width: 1530px;
    }
}

@media (min-width: 1900px) {
    .body {
        max-width: 1830px;
    }
}

.container2 {
    width: 90%;
    margin: 0 auto;
}

.cards {
    display: flex;
    color: #111111;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-item .card {
    position: relative;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 1.6rem;
    min-width: 24rem;
    color: #111111;
    border: 0.5rem solid #808080;
    border-radius: 0;
}

.cards .card {
    position: relative;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 1.6rem;
    min-width: 20rem;
    margin-inline: 0.8rem;
    border: 0.5rem solid #808080;
    border-radius: 0;
}
#myCarousel {
    height: 40rem; /* Carousel'ýn yüksekliðini ayarlayýn */
}

    .card:hover {
        transform: scale(1.05);
        transition: transform 0.5s ease;
    }

    .card .card-img-top {
        border-radius:0;
    }

.card-content {
    
}

.navbar-collapse.show {

    z-index: 1000; /* Navbar'ýn üstte olmasýný saðlar */
    background-color: white;
}

.navbar-collapse.collapsing {
    background-color: white;
}

nav {
    font-family: 'Abril Fatface', cursive;
    color: #1d1d1e;
}
.navbar-nav li a{
    color: #1d1d1e;
}
.navbar-nav li a:hover {
    transform: scale(1.05);
    color:black;
}

.slide-container{

}

.container a {
    color: #111111; 
    margin-inline: 1.6rem;
}

.iletisim {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-block: 5rem;
    margin-bottom: 1rem;
}

.iletisim a{
    color:#111111;
}

.iletisim a:hover{
    text-decoration: underline;
    
}

