@using BigSister.Core.DTOs;

@model List<WorkItemDto>

<a href="~/admin/workitemekle" class="btn btn-primary">Yeni İş Ekle</a>
<div class="cards">
    @{
        foreach (WorkItemDto work in Model)
        {
            <div class="card" style="width: 25rem;">
                <div class="card-content">
                    <a class="cardlink" href="#"><img class="card-img-top" style="height: 25rem" src="@work.ImageUrl" alt="Card image cap"></a>
                    <div class="card-body">
                        <p class="card-text">@work.Context</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

