@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Hakkımızda";
}

<section class="section2" style="display:flex; justify-content:center">
    
    <div class="container2">
        <h1 class="section-header">Hakkımızda</h1>
        <p style="text-align:left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in sodales tortor. Morbi at semper velit. In venenatis, justo ut pharetra tincidunt, dui nisl volutpat justo, in eleifend nibh orci vel quam. Nam vel justo non nisi dapibus ultricies et vel urna. Nullam et metus scelerisque, interdum est sed, sollicitudin tellus. Cras rhoncus purus eget interdum pulvinar. Sed fermentum lorem id bibendum lobortis. Nunc diam lorem, dapibus quis molestie vitae, euismod ut libero. Morbi eget scelerisque justo, at blandit tortor. In sollicitudin, sem a eleifend tempor, massa tellus porttitor felis, vel tristique nibh est pellentesque nunc. Curabitur quis libero ante. Proin cursus id nulla id molestie. Pellentesque ut bibendum odio, sed scelerisque leo. Sed sit amet quam purus. Praesent lobortis lacinia iaculis. Sed non nibh in tellus rutrum bibendum in eu nisl.
        </p>
    </div>
 
</section>