@{
    ViewData["Title"] = "Anasayfa";
}


<div class="container1">
    <div class="bg-image">
    </div>
</div>


<section class="section2">
    <div class="container2">
        <h1 class="section-header">Hakkımızda</h1>
        <p style="margin-left: 1.6rem; text-align:left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in sodales tortor. Morbi at semper velit. In venenatis, justo ut pharetra tincidunt, dui nisl volutpat justo, in eleifend nibh orci vel quam. Nam vel justo non nisi dapibus ultricies et vel urna. Nullam et metus scelerisque, interdum est sed, sollicitudin tellus. Cras rhoncus purus eget interdum pulvinar. Sed fermentum lorem id bibendum lobortis. Nunc diam lorem, dapibus quis molestie vitae, euismod ut libero. Morbi eget scelerisque justo, at blandit tortor. In sollicitudin, sem a eleifend tempor, massa tellus porttitor felis, vel tristique nibh est pellentesque nunc. Curabitur quis libero ante. Proin cursus id nulla id molestie. Pellentesque ut bibendum odio, sed scelerisque leo. Sed sit amet quam purus. Praesent lobortis lacinia iaculis. Sed non nibh in tellus rutrum bibendum in eu nisl.
        </p>
    </div>
</section>
<section class="section2 black">
    <h1 class="section-header">İşlerimiz</h1>
    <div class="container2">
        <div class="mobile-only">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card" style="width: 25rem;">
                            <div class="card-content">
                                <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text">1.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 25rem;">
                            <div class="card-content">
                                <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text">2.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 25rem;">
                            <div class="card-content">
                                <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text">3.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 25rem;">
                            <div class="card-content">
                                <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text">4.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="width: 25rem;">
                            <div class="card-content">
                                <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text">5.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-content">
                                <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text">6.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/Islerimiz" class="btn-1"><h2 style="margin-block: 1rem; color: white; text-decoration: underline;">Tümünü Gör</h2></a>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="desktop-only">
            <div class="cards">
                <div class="card" style="width: 25rem;">
                    <div class="card-content">
                        <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <p class="card-text">1.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <div class="card-content">
                        <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <p class="card-text">2.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <div class="card-content">
                        <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <p class="card-text">3.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <div class="card-content">
                        <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <p class="card-text">4.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <div class="card-content">
                        <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <p class="card-text">5.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <div class="card-content">
                        <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
                        <div class="card-body">
                            <p class="card-text">6.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/Islerimiz" class="btn-1"><h2 style="margin-block: 2rem; color: white; text-decoration: underline;">Tümünü Gör</h2></a>
        </div>
    </div>
</section>
<section class="section2">
    <h1 class="section-header">İletişim</h1>
    <div class="cantainer2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in sodales tortor.</p>
        <iframe class="desktop-only" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.4940839587725!2d28.989238512088995!3d41.036323117577226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab77a71e3dff3%3A0xc0c3129c7abee08c!2sStudio%20Mavi%20Beyaz!5e0!3m2!1str!2str!4v1696517019976!5m2!1str!2str" style="border:0; border-radius:1rem; width:50rem; height:25rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container2">
        <div class="iletisim">
            <a href="tel:+905555555555">+90 555 555 5555</a>
            <div>
                <a href="https://maps.app.goo.gl/uQTHFri9661BoUSLA" target="_blank">Konum Göster</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
            </div>
            <a href="mailto:info@bigsister.com">info@bigsister.com</a>
        </div>
        
    </div>
</section>

