@{
    ViewData["Title"] = "Anasayfa";
}


<div class="container1">
    <div class="bg-image">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, ex ut laoreet consequat, orci nisi dapibus arcu, vitae finibus mi urna sed eros. Nam ornare faucibus purus in aliquam. Pellentesque sodales iaculis ipsum, eu venenatis ligula auctor in. Sed id varius mi. Pellentesque laoreet, tortor ut vulputate aliquet, odio ipsum viverra leo, eget tristique felis turpis sed quam. Fusce pharetra nibh vitae ultricies mollis. Vestibulum vulputate eu dolor sit amet efficitur. Curabitur eget fringilla tortor, eu ultrices sapien. Maecenas mi eros, varius et placerat vitae, rhoncus id arcu. Nulla nisl erat, sagittis quis vehicula eget, eleifend ut nibh.</p>
    </div>
</div>


<section class="section2">
    <h2 class="section-header">Hakkımızda</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam dolor eget dui porttitor iaculis.
    <br />
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec id auctor velit, ac elementum est.
</section>
<section class="section2">
    <h2 class="section-header">İşlerimiz</h2>
    <div></div>
    <div class="container1">
        <div class="card" style="width: 18rem;">
            <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div><div class="card" style="width: 18rem;">
            <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a class="cardlink" href="#"><img class="card-img-top" src="~/images/logo.png" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</section>

