@using deneme_bigsister_1.Models;
@model UserSignUpVM
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>
<body>
    <form role="form" asp-action="Index">
        <div class="container">
            <h1>Giriş Yap</h1>

            <hr>

            <label><b>Kullanıcı Adı</b></label>
            <input type="text" placeholder="Kullanıcı Adı Girin" asp-for="@Model.UserName" required>

            <label><b>Şifre</b></label>
            <input type="password" placeholder="Şifre Girin" asp-for="@Model.Password" required>

            <hr>
            <button type="submit" class="registerbtn">Giriş Yap</button>
        </div>
    </form>
</body>


